.items-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max-content, 40px));
    grid-gap: 4px;

    &>li {
        height: 40px;
        width: 40px;
        background-color: #cbcbcb;
        border: 1px solid #000;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;

        &.is-new {
            background-color: #9bca64;
        }

        &.is-active {
            box-shadow: inset 0 0 0 2px #fff, 0 1px 0 0 rgba(0, 0, 0, .25);
            border-radius: 3px;
        }

        span {
            height: 15px;
            background-color: rgba(255, 255, 255, .85);
            border: 1px solid #2f6982;
            color: #2f6982;
            padding: 0 2px;
            border-radius: 3px;
            position: absolute;
            top: 2px;
            right: 2px;
        }
    }
}