.more {
    display: inline-flex;
    height: 100%;
    width: 14px;
	background-color: #3a3832;
	border-radius: 8px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 2;
    
    &.is-invert {
        @include flipH;
    }

	&:after{
		content: '';
		display: block;
		left: 4px;
		background-image: url('/r63b/toolbar/arrow.png');
		image-rendering: pixelated;
		height: 8px;
        width: 6px;
    }

	&.is-close{
		&::after {
			@include flipH;
        }
    }
}