.progressbar{
    height: 23px;
    padding: 2px;
    border: 1px solid #000;
    background: rgba(255, 255, 255, .8);
    border-radius: 4px;
    width: 100%;
    position: relative;

    &::-webkit-progress-value { 
        background-color: #00b5c1; 
        border-right: 1px solid rgba(0, 0, 0, .5);
    }

    &::-webkit-progress-bar, &::-moz-progress-bar {
        background: #59534f;
    }

    &::after{
        content: attr(data-label);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3)
    }
}

