@font-face
	font-family: 'Ubuntu'
	font-style: normal
	font-weight: 400
	src: url('../../../../../web-build/fonts/ubuntu/Ubuntu-Medium.ttf') format('truetype')

@font-face
	font-family: 'Ubuntu'
	font-style: normal
	font-weight: 700
	src: url('../../../../../web-build/fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype')
