@import '../../fonts'
@import '../../variables'

body
	margin 0
	padding 0
	background rgba(0, 0, 0, 1)
	overflow hidden
	font-size 12px

.client
	width 100%
	height 100%

	.hotel
		position absolute
		top 33px
		width 100%
		height 100%
		background url('https://t6.rbxcdn.com/6435cc11a0a3ce1764c8e825a0bbc539'), url(https://www.habborator.org/hotels/view_ru_wide.png)
		background-position top left, 10% center
		background-repeat no-repeat, no-repeat
		background-size auto, contain


@import '../../components/index.styl'