.chat
	z-index 8
	max-height 24px
	position absolute
	color black
	font-size 12px
	//Demo 
	left 50%
	top 2em;

	.avatar
		display inline-block
		margin 0
		height 24px
		width 31px
		background url('https://bobba.io/web-gallery/assets/chat_left.png')
		float left

		img 
			margin 2px 0 0 3px

	.body
		float left
		display inline-block
		margin 0
		height 24px
		max-height 24px
		background url(https://bobba.io/web-gallery/assets/chat_bite.png) center repeat
		font-weight normal

		.wrapper
			padding 5px 0px

			.name 
				font-weight bold

			.message
				display inline
				font-weight 300

	.close
		display inline-block
		width 10px
		height 24px
		background url(https://bobba.io/web-gallery/assets/chat_right.png) center bottom no-repeat
				