doctype html
html
	head
		title Cyclone UI - R63B
		
		script(src='https://cdnjs.cloudflare.com/ajax/libs/phaser/3.17.0/phaser.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js')
		
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
	body
		#app
		
		script(src='http://localhost:8080/ui.js')