package-lock.json
node_modules
.env

out

config.json

CREDITS.md

_temp

dist
generated
web-build/dist

# Lerna
lerna-debug.log
.report

# Lerna
learna-debug.log

# MacOS 
.DS_Store
*.icloud*

# IDE / Code Editors
.vscode
prod.list*
packages-microsoft-prod.deb*
.stackdump