.toolbar
	position absolute 
	background rgba(82, 80, 81, 1)
	width 100%
	line-height 30px
	
	&.bottom
		bottom 0px
		height 50px
		max-height 50px

	&.top
		top 0px
		height 30px
		max-height 30px
		border-top 1px solid #8C8A8B
		border-bottom 1px solid #2F2D2E

		.logo 
			display inline-block
			margin-left 10px 

			img
				height 25px
				margin 3px 0px

		.close
			color rgba(255, 255, 255, 1)
			text-decoration underline
			float right
			margin-right 15px
			cursor pointer