.alert
	z-index 2
	display: block
	position: fixed
	top: calc(50% - 120px)
	left: calc(50% - 180px)
	font-family: 'Ubuntu'
	background #E9E9E1
	padding 0px
	width 350px
	height 180px
	border-radius 8px
	box-sizing border-box
	border 1px solid black
	border-bottom 2px solid black
	font-size 12px
	color black

	& .title
		font-family: inherit
		cursor grab
		background #367898
		box-shadow inset -2px 0 0 0 #408CAF,
		   inset 0 2px 0 0 #408CAF,
		   inset 2px 0 0 0 #408CAF
		color white
		font-weight bold
		text-align center
		border-bottom 1px solid black
		padding 8px 0
		border-top-right-radius 8px
		border-top-left-radius 8px

		&:active
			cursor grabbing

	& .content
		font-family: inherit
		margin 0 10px
		font-weight 300

		& .author
			margin 20px 0 0 0

	& .image
		float left
		display inline
		margin-right 10px

	& .footer
		margin-top 15px
		height 0px
		border-top solid 1px #CCCCCC
		border-bottom solid 1px #FFFFFF
		text-align center

	& .button
		font-family: inherit
		display inline-block
		margin 6px 0px 0px 0px
		border solid 2px #000
		border-bottom solid 4px #000
		border-radius 4px
		padding 5px 10px
		font-weight bold
		cursor pointer
		background #E2E2E2
		outline none
		box-shadow inset -2px 0px 0 0 #CACACA,
					inset 0px 1px 0 0 #CACACA,
					inset 1px 0px 0 0 #CACACA,
					inset 0px -10px 0 0 #CACACA

		&:hover
			background #F3F3F3
			box-shadow inset -2px 0px 0 0 #D9D9D9,
						inset 0px 1px 0 0 #D9D9D9,
						inset 1px 0px 0 0 #D9D9D9,
						inset 0px -10px 0 0 #D9D9D9

		&:active
			background #D5D3D5
			box-shadow inset -2px 0px 0 0 #999899,
						inset 0px 1px 0 0 #999899,
						inset 1px 0px 0 0 #999899,
						inset 0px -10px 0 0 #999899
