.wallet
	z-index 5
	position absolute
	left 50%
	top 5%
	transform: translate(-50%, 5%)
	background-color rgba(0, 0, 0, 1)
	width 450px
	max-width 450px
	padding 30px
	border-radius 6px
	

	li
		list-style none
		display inline