.dialog:not(.illumina)
	z-index 2
	display: block
	position: fixed
	font-family: 'Ubuntu'
	background #E9E9E1
	padding 0px
	border-radius 8px
	box-sizing border-box
	border 1px solid black
	border-bottom 2px solid black
	font-size 12px
	color black

	.dialog-header
		font-family: inherit
		cursor grab
		background #367898
		box-shadow inset -2px 0 0 0 #408CAF,
		   inset 0 2px 0 0 #408CAF,
		   inset 2px 0 0 0 #408CAF
		color white
		font-weight bold
		text-align center
		border-bottom 1px solid black
		padding 8px 0
		border-top-right-radius 8px
		border-top-left-radius 8px

		&:active
			cursor grabbing
