.button
	font-family 'UbuntuCondensed'
	padding 5px 50px
	outline none
	cursor pointer
	font-size 18px
	border-radius 6px
	border none
	background-color red
	color rgba(255, 255, 255, 1)
	box-shadow 0px 4px 0px 0px rgba(0, 0, 0, 0.5)

	&:before
		box-shadow inset 0px 2px 0px 0px rgba(255, 255, 255, 0.5)