.frame-100 {
    background-color: #3b3b3b;
    padding: 10px;
    border-radius: 8px;
    font-size: 11px;

    .frame-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #333333;
        padding-bottom: 5px;
        margin-bottom: 5px;

        &>.icon {
            margin-right: 10px;
        }

        h3 {
            font-size: 11px;
            cursor: pointer;

            &:hover {
                color: #91c2ff;
            }
        }

        .btn {
            margin-left: auto;
        }
    }

    .frame-footer {
        border-top: 1px solid #333333;
        padding-top: 5px;
        margin-top: 5px;
    }

    .frame-card {
        background-color: #656565;
        border: 1px solid #181818;
        border-radius: 6px;
    }

    hr {
        height: 1px;
        border: none;
        background-color: #333333;
        margin: 5px 0;
    }
}