.toolbar
	position absolute 
	background rgba(82, 80, 81, 1)
	width 100%
	line-height 30px
	
	&.bottom
		bottom 0px
		background rgba(0, 0, 0, 1)
		height 70px
		max-height 70px
		color rgba(255, 255, 255, 1)

		.container
			padding 0

		.habbo
			margin 0 
			padding 0
			 
			.avatar 
				padding 0
				margin 0
				width 64px
				top -10px
				display inline-block
				float left

			.username
				float left

			.rank
			a
				color rgba(255, 255, 255, 1)

	&.top
		top 0px
		height $headerHeight
		max-height $headerHeight
		border-top 1px solid $headerTopBorder
		border-bottom 1px solid $headerBottomBorder

		.logo 
			display inline-block
			margin-left 10px 

			img
				height 25px
				margin 3px 0px
		
		.online
			position absolute
			display inline-block
			text-align center
			width 260px
			border-radius 2px
			border 1px solid #333333
			box-shadow 1px 0px 0px 0px rgba(0, 0, 0, 1),
						0px 1px 0px 0px rgba(0, 0, 0, 1),
					   -1px 0px 0px 0px rgba(0, 0, 0, 1),
						0px -1px 0px 0px rgba(0, 0, 0, 1)
			padding 0px
			margin-left (calc(50% - 260px))
			top 5px
			left 125px
			font-family 'Arial'
			color rgba(255, 255, 255, 1)
			max-height 20px
			line-height 20px
			background repeating-linear-gradient(0deg, #313131, #535353 2px, #313131 2px)

		.close
			color rgba(255, 255, 255, 1)
			text-decoration underline
			float right
			margin-right 15px
			cursor pointer
			font-family Arial