.client
	z-index 0
	display block
	position fixed
	background rgba(0, 0, 0, 1)
	height 100%
	width 100%
	//filter grayscale(100%)

	.hotel
		z-index: 1
		display block
		position fixed
		height calc(100% - 50px)
		width 100%
		background-color #68E5FF
		background url('http://habboo-a.akamaihd.net/c_images/reception/may19_background_left.png'), 
				   url('http://habboo-a.akamaihd.net/c_images/reception/background_right_easter2016.png'),
				   url('hotelview/drape.png'),
				   url('http://habboo-a.akamaihd.net/c_images/reception/jan19_background_gradient.png')
		background-repeat no-repeat, no-repeat, no-repeat, repeat-x
		background-position left bottom, right bottom, 100px top
		background-size auto, auto, auto, 1% 100%