.room-details{
    position: fixed;
    bottom: 60px;
    z-index: 5;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    &.is-open{

        .room-details-actions{
            width: 160px;
            padding-left: 24px;
            margin-left: -10px;
        }
    }

    .room-details-actions{
        background-color: transparentize(#2e2e2c, .6);
        height: 100%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-evenly;
        width: 0;
        display: flex;
        overflow: hidden;
        transition: all .2s;
        
        a{
            display: flex;
            flex-direction: row;
            align-items: center;
            white-space: nowrap;
            text-decoration: underline;
            color: #999998;
            font-size: 11px;

            &:before {
                width: 20px!important;
                background-repeat: no-repeat;
                margin-right: 10px;
            }
        }
    }

    .room-details-informations {
        margin-left: 14px;
        background-color: transparentize(#2e2e2c, .6);
        height: 70px;
        padding: 0 20px;
        white-space: nowrap;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        border-radius: 8px;
        transform: translateX(-150px);
        visibility: hidden;
        opacity: 0;
        transition: all .2s;

        &.is-open{
            transform: translateX(0);
            visibility: visible;
            opacity: 1;
        }

        small {
            color: #989898;
            font-size: 13px;
        }
    }
}