.room-details{
    position: fixed;
    bottom: 60px;
    z-index: 5;
    height: 150px;

    &.is-open{

        .room-details-informations {
            left: 180px;
        }

        .room-details-actions{
            display: flex;
        }
    }

    .room-details-actions{
        background-color: transparentize(#2e2e2c, .6);
        position: absolute;
        top: 0;
        bottom: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-evenly;
        display: none;
        left: 6px;
        padding: 0 20px;
        width: 160px;

        a{
            display: flex;
            flex-direction: row;
            align-items: center;
            white-space: nowrap;
            color: #999998;
            font-size: 11px;

            .icon {
                width: 25px;
                justify-content: center;
                margin-right: 10px;
            }
        }
    }

    .room-details-informations {
        position: absolute;
        bottom: 0;
        left: 28px;
        background-color: transparentize(#2e2e2c, .6);
        height: 70px;
        padding: 0 20px;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 8px;
        display: none;

        &.is-open{
            display: flex;
        }

        small {
            color: #989898;
            font-size: 13px;
        }
    }
}