.furniture-item {
    margin-bottom: 10px;
    width: $rightCol-width;
    margin-left: auto;

    img {
        margin: 0 auto;
        display: block;
    }

    .icon-profile:before {
        margin-right: 5px;
    }

    .btn-light {
        margin-top: 10px;
        display: block;
    }
}

.furniture-item-actions{
    display: flex;
    flex-direction: row;

    &>*:not(:last-child){
        margin-right: 10px;
    }
}