user-drag(value)
	-webkit-user-drag value
	-khtml-user-drag value
	-moz-user-drag value
	-o-user-drag value
	user-drag value

*,*:before,*:after
	margin 0
	padding 0
	box-sizing border-box

@import actions
@import wallet
@import chat

@import toolbar

@import 'dialogs/alert'
@import 'dialogs/catalog'
@import 'dialogs/moderation'

@import '../helpers/dialog'
@import '../styles/button'

a
	user-drag none

img
	user-select none
	user-drag none

.main-icon
	display: inline-block
	background-image: url('icons.png')
	image-rendering: pixelated

	&.icon-habbo
		background-position: -511px -413px
		width: 16px
		height: 16px

	&.icon-fs
		width: 15px
		height: 14px
		background-position: -511px -447px

	&.icon-disable-fs
		width: 15px
		height: 14px
		background-position: -511px -431px