@import alert
@import catalog

user-drag(value)
	-webkit-user-drag value
	-khtml-user-drag value
	-moz-user-drag value
	-o-user-drag value
	user-drag value

a
	user-drag none

img
	user-select none
	user-drag none
