@import '../../fonts'
@import '../../variables'

body
	background-color #68E5FF
	background url('http://habboo-a.akamaihd.net/c_images/reception/marchband19_background_left.png') left bottom no-repeat,
				  url('http://habboo-a.akamaihd.net/c_images/reception/background_right_easter2016.png') right bottom no-repeat,
              url('http://habboo-a.akamaihd.net/c_images/reception/marchband19_background_gradient.png') repeat,
              url('http://habboo-a.akamaihd.net/c_images/reception/meter_level_1_vip_icon_lympix.png') right bottom no-repeat
