@import '../../fonts'
@import '../../variables'
@import '../../components/index.styl'

.client
	z-index 0
	display block
	position fixed
	height 100%
	width 100%

	.hotel
		z-index: 1
		display block
		position fixed
		height calc(100% - 50px)
		width 100%
		background-color #68E5FF
		background url('http://habboo-a.akamaihd.net/c_images/reception/marchband19_background_left.png'), 
				   url('http://habboo-a.akamaihd.net/c_images/reception/background_right_easter2016.png'),
				   url('hotelview/drape.png'),
				   url('http://habboo-a.akamaihd.net/c_images/reception/marchband19_background_gradient.png')
		background-repeat no-repeat, no-repeat, no-repeat, repeat-x
		background-position left bottom, right bottom, 100px top
		background-size auto, auto, auto, 1% 100%


		.bonus
			width 505px
			height 60px
			max-height 60px
			max-width 505px
			background rgba(255, 255, 255, 0.2)
			border-bottom 1px solid rgba(0, 0, 0, 0.2)
			box-shadow 0px 1px 0px 0px rgba(255, 255, 255, 0.2)
			border-radius 6px
			margin-top 10px
			margin-left 275px
			position absolute
			

			.thumbnail
				display inline-block
				float left
				margin 3px 20px 0px 20px
				width 55px

			.offer
				display inline-block
				float left

				h2
					font-size 18px
					margin 5px 0px 5px 15px

			.subscribe
				float right
				margin 8px 5px 0px 0px