body
	margin 0

	.header
		background #069
		display block
		background-image url('https://images.habbo.com/habbo-web/america/en/assets/images/backgrounds/hotel.ba57eb56.png')
		background-repeat no-repeat
		background-position -27px bottom
		min-height 432px

		.login-form
			background rgba(0, 0, 0, 0.5)
			min-height 80px