doctype html
html
	head
		title Cyclone :: Hotel
		
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
		script(src='//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
	body
		p This is the header
		.waves-effect.waves-light Test Button
