.catalog
	.navigation
		border-radius 4px
		border 1px solid #757571
		box-shadow inset 2px 2px 0px 0px #ffffff,
				   inset -2px -2px 0px 0px #ffffff,
				   0px 1px 0px 0px #757571
		min-height 430px
		
		.container
			padding 5px
			overflow-y scroll
			min-height 100%