.moderation
	width 155px
	height 160px
	font-size 10px
	font-weight bold
	position absolute
	left 1em
	top 5em

	.header
		cursor grab

		&:active
			cursor grabbing

		p
			padding 0px 10px

	.content
		padding 0px 10px 10px 10px

		ul.options
			padding 0
			list-style none

			li
				margin-bottom 10px
				cursor pointer

				img
					width 18px
					height 18px

				span
					line-height 0px
