@import '../../fonts'
@import '../../variables'
@import '../../components/index.styl'

.icon-logout
	background: url(https://github.com/TheNamesRay/Habbo-in-HTML5/blob/master/assets/images/hotelview/windowManagerIcons/logout.png?raw=true);
	height: 15px;
	width: 15px;
	display: inline-block;

.icon-settings
	background: url(https://github.com/TheNamesRay/Habbo-in-HTML5/blob/master/assets/images/hotelview/windowManagerIcons/settings.png?raw=true);
	height: 15px;
	width: 15px;
	display: inline-block;

.client
	z-index 0
	display block
	position fixed
	height 100%
	width 100%

	.hotel
		z-index: 1
		display block
		position fixed
		height calc(100% - 50px)
		width 100%
		background-color #68E5FF
		background url('http://habboo-a.akamaihd.net/c_images/reception/marchband19_background_left.png'), 
				   url('http://habboo-a.akamaihd.net/c_images/reception/background_right_easter2016.png'),
				   url('hotelview/drape.png'),
				   url('http://habboo-a.akamaihd.net/c_images/reception/marchband19_background_gradient.png')
		background-repeat no-repeat, no-repeat, no-repeat, repeat-x
		background-position left bottom, right bottom, 100px top
		background-size auto, auto, auto, 1% 100%
