.actions
	z-index 10
	position absolute
	top 12px
	left 12px
	
	.action
		background #FFB900
		border 2px solid #FFEA00
		border-radius 5px
		box-shadow 0 3px 0 1px rgba(0,0,0,.3)
		outline none
		cursor pointer
		padding 6px 12px
		line-height 1.2
		text-align center
		margin-bottom 4px
		text-transform uppercase

		&:first-child
			border-top-right-radius 0
			border-bottom-right-radius 0

		&:last-child
			border-top-left-radius 0
			border-bottom-left-radius 0
	
		&:not(:last-child)
			margin-right 4px

		&:hover
			border-color #FFFD70
			background #FFD400

	.arrow
		border-width 2px 2px 2px 1px
		position relative

		&:before
			content ''
			position absolute
			display block
			border-style solid
			border-width 15px
			border-color transparent #ffea00 transparent transparent
			top -2px
			left -31px

		&:after
			border-width 13px
			border-color transparent #ffb900 transparent transparent
			top 0
			left -26px
