.client 
	background rbga(0, 0, 0, 1)
	width 100% 
	height 100%

.room
	.icon
		position absolute
		display inline-block
		top 0
		left 0
		margin 10px
		width 64px
		border-radius 10px
		cursor pointer