.illumina
	&.dialog
		background #E3E3E3
		box-shadow inset 0px 2px 0px 0px #FFFFFF,
				   inset 0px 3px 0px 0px #F7F7F7,
				   inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2)
		border-style none
		z-index 2
		display block
		position fixed
		border-radius 4px
		color #000000

	&.subscribe
		&.button
			outline 0
			cursor pointer
			max-height 30px
			font-family 'Ubuntu'
			font-weight bold
			font-size 10px
			margin 0
			padding 8px 12px
			border-radius 6px
			border 1px solid #909090
			background #E0E0E0
			box-shadow inset 0 -10px 0px 0px #D8D8D8, 
					   inset 0px 3px 0px 0px #F8FCF8, 
						0px 1px 0px 0px #F8FCF8

			&:hover
				box-shadow 0 0 5px 5px rgba(255, 255, 255, 0.09),
							inset 0 -10px 0px 0px #D8D8D8,
							inset 0px 3px 0px 0px #F8FCF8,
							0px 1px 0px 0px #F8FCF8

		