.illumina
	&.dialog
		background #E3E3E3
		box-shadow inset 0px 2px 0px 0px #FFFFFF,
				   inset 0px 3px 0px 0px #F7F7F7,
				   inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2)
		border-style none
		z-index 2
		display block
		position fixed
		border-radius 4px
		color #000000