.btn
	font-family: inherit
	display inline-block
	border solid 2px #000
	border-bottom solid 4px #000
	border-radius 4px
	padding 5px 10px
	font-weight bold
	white-space nowrap
	cursor pointer
	background #E2E2E2
	outline none
	box-shadow
		inset -2px 0px 0 0 #CACACA,
		inset 0px 1px 0 0 #CACACA,
		inset 1px 0px 0 0 #CACACA,
		inset 0px -10px 0 0 #CACACA

	&.btn-small
		font-size 12px

	&:hover
		background #F3F3F3
		box-shadow
			inset -2px 0px 0 0 #D9D9D9,
			inset 0px 1px 0 0 #D9D9D9,
			inset 1px 0px 0 0 #D9D9D9,
			inset 0px -10px 0 0 #D9D9D9

	&:active
		background #D5D3D5
		box-shadow
			inset -2px 0px 0 0 #999899,
			inset 0px 1px 0 0 #999899,
			inset 1px 0px 0 0 #999899,
			inset 0px -10px 0 0 #999899


.btn-action
	height: 19px;
	width: 19px;
	border: 1px solid #000;
	border-radius: 4px;

	&.btn-blue
		background-color: #306686;
		box-shadow: inset 0 0 0 1px #3986b1, inset 0 -8px 0 0 #1f5679;

