.click-actions {
    border: 1px solid #000;
    border-radius: 4px;
    position: fixed;
    transform: translateY(-100%) translateX(-50%);

    .click-actions-header , .click-actions-footer {
        background-color: #4f4c48;
        border: 1px solid #6d6a66;
        border-radius: inherit;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .click-actions-header {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        height: 28px;
        border-bottom: none;
        box-shadow: 0 1px 0 0 #000;
        margin-bottom: 1px;
        font-size: 12px;
    }

    .click-actions-content {
        display: flex;
        flex-direction: column;

        &>a {
            background: linear-gradient(#2a2725 50%, #262321 50%, #1c1a18 100%);
            box-shadow: inset 1px 0 0 0 #262321, inset -1px 0 0 0 #262321;
            color: #fff;
            height: 27px;
            line-height: 27px;
            border-bottom: 1px solid rgba(255, 255, 255, .2);
            white-space: nowrap;
            font-size: 11px;
            padding: 0 20px;
            text-align: center;

            .icon {
                margin-left: 10px;
                filter: invert(14%) sepia(6%) saturate(147%) hue-rotate(355deg) brightness(99%) contrast(88%);
            }

            &:hover {
                background: linear-gradient(#2c2926 50%, #292623 50%, #292623 100%);
                box-shadow: inset 1px 0 0 0 #292623, inset -1px 0 0 0 #292623;
            }

            &:active {
                background: linear-gradient(#272422 50%, #1c1a18 50%, #1c1a18 100%);
                box-shadow: inset 1px 0 0 0 #1c1a18, inset -1px 0 0 0 #1c1a18;
                cursor: default;
            }
        }
    }

    .click-actions-footer {
        width: 33px;
        height: 23px;
        border-top: none;
        position: relative;
        filter: drop-shadow(0 2px 0 #000);

        &:hover .icon {
            filter: invert(17%) sepia(44%) saturate(3960%) hue-rotate(168deg) brightness(82%) contrast(94%);
        }   

        &:before, &:after {
            position: absolute;
            content: '';
        }

        &:before {
            
            bottom: -6px;
            border-top: solid 6px #6d6a66;
            border-left: solid 6px transparent;
            border-right: solid 6px transparent;
        }

        &:after {
            bottom: -5px;
            border-top: solid 5px #4f4c48;
            border-left: solid 5px transparent;
            border-right: solid 5px transparent;
        }
    }


    &.is-open {

        .click-actions-footer {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            width: inherit;
        }
    }

    &.is-own {

        .click-actions-content {

            &>a {

                &:hover {
                    background: linear-gradient(#47a3cc 50%, #4296bc 50%, #4296bc 100%);
                    box-shadow: none;
                }

                &:active {
                    background: linear-gradient(#3f90b4 50%, #2d6882 50%, #2d6882 100%);
                    box-shadow: none;
                }
            }
        }
    }
}
