.click-actions {
    border: 1px solid #000;
    border-radius: 4px;
    position: fixed;
    transform: translateY(-100%) translateX(-50.1%);
    -webkit-filter: blur(0px);

    @import './pet-own/index';
    @import './user/index';

    .click-actions-header , .click-actions-footer {
        background-color: #4f4c48;
        border: 1px solid #6d6a66;
        border-radius: inherit;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding-top: -1px;
    }

    .click-actions-header {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        height: 28px;
        border-bottom: none;
        box-shadow: 0 1px 0 0 #000;
        margin-bottom: 1px;
        font-size: 12px;

        &:hover {
            color: #47a3cc;
        }
    }

    .click-actions-content {
        display: flex;
        flex-direction: column;

        &>*:not(:last-child){
            margin-bottom: 1px;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                bottom: -1px;
                left: 0;
                right: 0;
                height: 1px;
                background-color: #4f4c48;
                box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, .2), inset -1px 0 0 0 rgba(255, 255, 255, .2); 
            }
        }

        &>li {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            grid-column-gap: 6px;

            &>span, &>a {
                place-self: center;
                grid-column-start: 2;
            }
        }

        li {
            background: linear-gradient(#2a2725 50%, #262321 50%, #262321 100%);
            box-shadow: inset 1px 0 0 0 #262321, inset -1px 0 0 0 #262321;
            color: #fff;
            height: 27px;
            white-space: nowrap;
            font-size: 11px;
            cursor: pointer;
            
            &[disabled] {
                color: rgba(255, 255, 255, .2);
                cursor: pointer;
            }

            &>a {
                text-decoration: underline;
            }

            .icon:first-child {
                place-self: center end;
            }

            &:hover {
                background: linear-gradient(#2c2926 50%, #292623 50%, #292623 100%);
                box-shadow: inset 1px 0 0 0 #292623, inset -1px 0 0 0 #292623;
            }

            &:active {
                background: linear-gradient(#272422 50%, #1c1a18 50%, #1c1a18 100%);
                box-shadow: inset 1px 0 0 0 #1c1a18, inset -1px 0 0 0 #1c1a18;
                cursor: default;
            }
        }

        .click-actions-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1px;
            background-color: #4f4c48;
    
            &>li {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .click-actions-footer {
        width: 33px;
        height: 23px;
        border-top: none;
        position: relative;
        margin: 0 auto;
        filter: drop-shadow(0 2px 0 #000);

        &:hover .icon {
            filter: invert(17%) sepia(44%) saturate(3960%) hue-rotate(168deg) brightness(82%) contrast(94%);
        }   

        &:before, &:after {
            position: absolute;
            content: '';
        }

        &:before {
            
            bottom: -6px;
            border-top: solid 6px #6d6a66;
            border-left: solid 6px transparent;
            border-right: solid 6px transparent;
        }

        &:after {
            bottom: -5px;
            border-top: solid 5px #4f4c48;
            border-left: solid 5px transparent;
            border-right: solid 5px transparent;
        }
    }


    &.is-open {
        min-width: 103px;

        .click-actions-footer {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            width: inherit;
        }
    }

    &.is-own {

        .click-actions-content {

            li:not([disabled]) {

                &:hover {
                    background: linear-gradient(#47a3cc 50%, #4296bc 50%, #4296bc 100%);
                    box-shadow: none;
                }

                &:active {
                    background: linear-gradient(#3f90b4 50%, #2d6882 50%, #2d6882 100%);
                    box-shadow: inset 1px 0 0 0 #2d6882, inset -1px 0 0 0 #2d6882;
                }
            }
        }
    }
}

